h2 {
  color: #2b4872;
}
.resume {
	width: 450px;
  background: #ccffff;
  border: 10px solid #2b4872;
  padding: 10px;
  text-align: center;
}
table {
  width: 450px;
  text-align: center;
}
table tr{
	height: 50px;
}

